name: Build

on:
  push:
    branches:
      - cpp-port

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build lua5.4

      - name: Build project
        run: ninja
